@media only screen and (max-width: 1155px) {
    .container-main-sec {
        padding: 0 10px;
    }

    .div-scr-shot {
        top: -90px;
    }

    .cont-screens {
        padding: 0 5px;
    }

    .cont-icon-stats {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 60px;
        margin-bottom: 35px;
    }

    .main-sec {
        padding-top: 190px;
    }

    .main-sec-p {
        margin: 0 345px 35px 0;
    }

    .cont-carousel {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 992px) {
    .cont-txt-picture {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 845px) {
    .txt-picture {
        flex-direction: column-reverse;
        padding: 0;
    }
    .picture {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .article-screen {
        max-width: 100%;
        text-align: center;
    }
    .cont-txt-picture .p-left30 .p-right30 .m-right15 {
        padding: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    .div-scr-shot {
        max-width: 410px;
        right: -85px;
        top: 25px;
    }
    .main-sec-p {
        margin: 0 235px 35px 0;
    }

}

@media only screen and (max-width: 720px) {
    .stat-element {
        flex-basis: 45%;
        max-width: 100%;
        margin-bottom: 41px;
    }
    .cont-icon-stats {
        flex-wrap: wrap;
    }
    .fl-bas48 {
        flex-basis: 41%;
        margin-bottom: 80px;
    }
    .fl-bas90 {
        flex-basis: 90%;
    }
}
@media only screen and (max-width: 610px) {
    .h2-black-sec {
        margin: 0 5px 55px 0;
    }
}

@media only screen and (max-width: 580px) {
    .cont-footer {
        padding: 0 5px;
    }

    .h3-screen {
        font-size: 31px;
    }

    footer ul {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 545px) {
    .cont-screens .article-screen {
        max-width: 250px;
    }
    .div-scr-shot {
        max-width: 310px;
        right: -85px;
        top: 25px;
    }
    .container-main-sec .main-sec-p {
        margin: 0 170px 35px 0;
    }
}

@media only screen and (max-width: 520px) {
    .cont-screens .article-screen {
        max-width: 335px;
    }
    .h3-screen {
        margin-bottom: 25px;
    }
    .m-btm55 {
        margin-bottom: 55px;
    }
    .pizza-screen {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .img-mob-screen {
        margin-bottom: 20px;
        max-width: 341px;
    }
    .img-mob-orders {
        margin-bottom: 20px;
        max-width: 341px;
    }
    .article-screen .txt-screen {
        margin-bottom: 50px;
    }

    .mid-screen {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .upper-title {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .icon-elements {
        flex-basis: 90%;
    }
}
@media only screen and (max-width: 470px) {
    .container-main-sec {
        text-align: center;
    }
    h1 {
        font-size: 50px;
    }
    .container-main-sec .div-scr-shot {
        display: none;
    }
    .container-main-sec .main-sec-p {
        margin: 0 0 35px 0;
        font-size: 23px;
    }

    .h2-black-sec {
        font-size: 30px;
    }
    .cont-form {
          padding: 0 7px;
      }
}

@media only screen and (max-width: 420px) {
    .get-start-cont {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 375px) {
    .name-source {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name, .source {
        text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .h2-black-sec {
        font-size: 27px;
    }
}

@media only screen and (max-width: 320px) {

}